@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fullw {
  width: 100%;
}

.txt-center {
  text-align: center;
}

.bg-gr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#94e8ff), to(white));
  background-image: linear-gradient(white, #94e8ff, white);
}

.mg-auto {
  margin: 0px auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.just-cont-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.just-cont-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

body {
  font-family: Nunito;
}

.progclass {
  background-image: -webkit-gradient(linear, left top, right top, from(#a8a3a3), to(#94e8ff));
  background-image: linear-gradient(to right, #a8a3a3, #94e8ff);
  font-weight: bold;
  padding: 5px;
}

.spanclass {
  display: block;
  border-bottom: 3px solid black;
}

* {
  margin: 0px;
  padding: 0px;
}

#pozadina {
  background-image: url("../images/pozadina.jpg");
  background-attachment: fixed;
  height: 430px;
  margin: 0px auto;
}

#pozadina header {
  height: 100%;
}

#pozadina header #slikainfo {
  height: 400px;
  margin-top: 25px;
}

#pozadina header #slikainfo #hedlevo {
  margin-left: 50px;
  height: 100%;
}

#pozadina header nav {
  width: 56%;
  padding: 15px 0px;
  margin-right: 50px;
  background-color: #a8a3a3;
  border-radius: 5% 5% 30% 30%;
  position: fixed;
  right: 50px;
  border: 2px solid black;
}

#pozadina header nav ul {
  list-style-type: none;
}

#pozadina header nav ul li a {
  font-size: 1.5vw;
  color: #94e8ff;
}

#pozadina header nav ul li a:hover {
  color: black;
}

#pozadina header #info {
  margin-left: 15px;
  padding: 15% 0%;
}

#pozadina header #info span {
  font-size: 1.8vw;
}

#headingABOUT {
  font-size: 3vw;
  padding: 70px 0px 30px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8a3a3), to(#94e8ff));
  background-image: linear-gradient(#a8a3a3, #94e8ff);
}

#headingABOUT span {
  width: 20%;
}

#aboutpozadina {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#94e8ff), to(#a8a3a3));
  background-image: linear-gradient(#94e8ff, #a8a3a3);
  -webkit-box-shadow: 0px 10px 6px -6px #a8a3a3;
          box-shadow: 0px 10px 6px -6px #a8a3a3;
  padding-bottom: 50px;
}

#aboutpozadina #about {
  width: 90%;
}

#aboutpozadina #about p {
  font-size: 2.2vw;
}

#headingSKILLS {
  font-size: 3vw;
  margin-top: 100px;
}

#headingSKILLS span {
  width: 15%;
}

#skills {
  margin-top: 50px;
  padding-bottom: 100px;
  border-bottom: 3px solid #a8a3a3;
}

#skills .progbar {
  background-color: #a8a3a3;
}

#skills #htmlprog {
  width: 80%;
}

#skills #cssprog {
  width: 60%;
}

#skills #Cprog {
  width: 50%;
}

#skills #wordpressprog {
  width: 70%;
}

#headingCONTACT {
  font-size: 3vw;
  padding-top: 50px;
  background-color: cornsilk;
}

#headingCONTACT span {
  width: 17%;
}

#contactarea {
  padding-top: 50px;
  background-color: cornsilk;
  padding-bottom: 50px;
}

#contactarea #contacttxt {
  font-size: 2.5vw;
  width: 45%;
}

#contactarea #linkovi {
  width: 45%;
}

#contactarea #linkovi .ikonica {
  font-size: 7vw;
}

#contactarea #linkovi .ikonica:hover {
  color: #595959;
}

#contactarea #linkovi #ins {
  color: #eb4034;
}

#contactarea #linkovi #fac {
  color: #1e7bfc;
}

#contactarea #linkovi #sas {
  color: #fc731e;
}

#contactarea #linkovi #scc {
  color: #213bff;
}

footer {
  background-color: black;
  color: #a8a3a3;
  height: 160px;
  font-size: 1.5vw;
}

footer a {
  color: #94e8ff;
}
/*# sourceMappingURL=styles.css.map */
@media(max-width:1100px){
  footer{
    height:120px;
  }
  .skill{
    width:15%;
  }
  #pozadina header #info span {
    font-size: 2.5vw;
  }
  #skills .skill .progbar #wordpressprog p{
    font-size: 14px;
  }
}
@media(max-width:950px){
  #pozadina #zaglavlje #slikainfo #hedlevo{
    display: none;
  }

  #pozadina header{
    width: 100%;
  }
  #pozadina header nav{
    margin:0% 22% 0% 22%;
    right:0;
  }
  #pozadina header #info span {
    font-size: 3.5vw;
  }
  #skills .skill .progbar #wordpressprog p{
    font-size: 10px;
  }
}
@media(max-width:950px){
  
.skill{
  width:40%;
}
#skills .skill .progbar #wordpressprog p{
  font-size: 18px;
}
#pozadina header #slikainfo{
  margin:50px auto;
}
#headingABOUT{
  padding-top:30px;
}
#headingSKILLS{
  margin-top:30px;
}
}
@media(max-width:720px){
  #zaglavlje #navigacija{
    width:76%;
    margin:0% 12% 0% 12%;
  }
  #zaglavlje #navigacija ul li a{
    font-size: 2.5vw;
  }
footer .futertxt{
  font-size: 2.5vw;
}
#aboutpozadina #about p{
  font-size: 3vw;
}
}
@media(max-width:550px){
  #pozadina{
    height:300px;
  }
  #headingABOUT{
    font-size: 5vw;
  }
  #headingABOUT span{
      width:30%;
  }
  #headingCONTACT{
    font-size: 5vw;
    padding-top: 20px;
  }
  #headingCONTACT span{
      width:30%;
  }
  #headingSKILLS span{
    font-size: 5vw;
  }
  #headingSKILLS span{
      width:25%;
  }
  #aboutpozadina #about p{
    font-size: 3.5vw;
  }
  #contactarea #contacttxt p{
    font-size: 4vw;
  }
  #contactarea #linkovi{
    flex-direction: column;
      padding:0% 22% 0% 22%;
  }
  footer .futertxt{
    font-size: 3vw;
  }
}
@media(max-width:450px){
  #pozadina #zaglavlje #slikainfo{
    margin-top: 120px;
  }
  #zaglavlje #navigacija ul{
    flex-direction: column;
    text-align: center;
  }
  #skills{
    flex-direction: column;
  }
  .skill{
    width: 50%;
    margin:0px auto;
  }
  footer .futertxt{
    font-size: 3.5vw;
  }
}
@media(max-width:320px){
  footer .futertxt{
    font-size: 5vw;
  }
  #pozadina header #info span {
    font-size: 4.5vw;
  }
}